<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-perso">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Jogo_da_velha_-_tic_tac_toe.png" %>
  <% end %>

  <h1>Tic-Tac-Toe</h1>
  <p> <%= Time.now %> </p>
</div>
